@font-face{
    font-family: "PotterFont";
    src: url('../font/HARRYP__.TTF')format("truetype");
}


h1 {
    color: rgb(252, 222, 53);
    white-space: nowrap;
    font-family: "PotterFont";
    font-size: 3em;
}    

.choose-house {
    text-shadow: 4px 4px 4px black;
    color: orange;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.player-selection {
    text-align: center;
    left: 42%;
    color: orange;
}

.player-amount {
    background-color:black;
    color: orange;
    font-size: 1.6 em;
    border: none;
    width: 160px;
    height: 30px;
    text-align: center;
}

.main-shield {
    height: 150px;
    padding-top: px;
  }
  
.shield-button {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.Slytherin {
    background-image: url("../image/slytherin2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.Gryffindor {
    background-image: url("../image/gryffindor2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.Ravenclaw {
    background-image: url("../image/ravenclaw2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.Hufflepuff {
    background-image: url("../image/hufflepuff2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.body {
    background-image: url("../image/salle5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    color: white;
}

.confirm-button {
    width: 200px;
    height: 70px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    color: orange;
    position: absolute;
    top: 600px;
    left: 43%;
    line-height: 1.5em;
    animation: button-blink1 infinite 1.5s linear;
    z-index: 1;
    background-color: black;
}

.start-button {
    width: 200px;
    height: 70px;
    background-color: yellow;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    color: rgb(77, 66, 66);
    position: absolute;
    top: 600px;
    left: 43%;
    line-height: 1.5em;
    z-index: 2;
}

