@font-face { 
    font-family: 'HARRYP';
    src: url('/home/mathieudearmey/Projet2/lyon-0918-js-potter-fighter/font/HARRYP__.TTF');
    }

h1 {
    white-space: nowrap;
}    

.page-title {
    text-shadow: 4px 4px 4px black;
    color: orange;
    font-size: 50px;
    font-family: "HARRYP";
}

.player-selection {
    text-align: center;
    left: 42%;
    color: orange;
}

.player-amount {
    background-color:black;
    color: orange;
    font-size: 1.6 em;
    border: none;
    width: 160px;
    height: 30px;
    text-align: center;
}

.main-shield {
    height: 200px;
    padding-top: 40px;
  }
  
.shield-button {
    background: rgba(0, 0, 0, 0);
    border: none;
}

.Slytherin {
    background-image: url("../image/slytherin2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.Gryffindor {
    background-image: url("../image/gryffindor2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.Ravenclaw {
    background-image: url("../image/ravenclaw2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.Hufflepuff {
    background-image: url("../image/hufflepuff2.png");
    background-position: center; 
    background-repeat: no-repeat; 
    
}

.body {
    background-image: url("../image/salle5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    text-align: center;
    height: 800px;
    background-color: black;
    color: white;
}

.confirm-button {
    width: 150px;
    height: 55px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    color: orange;
    position: absolute;
    top: 600px;
    left: 45%;
    line-height: 1.5em;
    animation: button-blink1 infinite 1.5s linear;
    z-index: 1;
    background-color: black;
}

.start-button {
    width: 200px;
    height: 80px;
    background-color: rgb(51, 202, 51);
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
    color: orange;
    position: absolute;
    top: 600px;
    left: 42.5%;
    line-height: 1.5em;
    animation: button-blink2 infinite 1s linear;
    z-index: 2;
}

