#settings{
    position: absolute;
    left: 30vw;
    top: 20vh;
    width: 40vw;
    height: 60vh;
    z-index: 3;
    opacity: 0.7;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
}

#settings table tr, #settings table td{
    /* border: 1px solid black;
    border-collapse: collapse; */
    font-size: 40px;
}

#settings button{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-bottom: 7vh;
}

#close, #close td, #close button{
    margin: 0;
    padding: 0;
}

#settings button img{
    width: 100px;
    height: 70px;
}