@font-face{
    font-family: "PotterFont";
    src: url('../font/HARRYP__.TTF')format("truetype");
}


.bodyTournementVictory{

    /*background-image: url("../image/background1tournement.jpg");*/
    background-image: url('https://www.dhresource.com/0x0s/f2-albu-g5-M01-74-79-rBVaJFkftaiAMKQPAAJ7wiL9fGo632.jpg/7x5ft-daylight-harry-potter-hogwarts-passage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 51vw;
    background-color: white;
    color: black;
}

.gobleoffireimage{
    position: absolute;
    background-image: url("../image/fireGoblet.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 400px;
    top: 80px;
    left: 1100px;

}
.boutonTournementHomePage{
    position: absolute;
    top: 700px;
    left: 1210px;
    color: white;
    width: 200px;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    opacity: 1;
    background-color: inherit;
    border-bottom-color: 20px, rgb(240, 240, 39);
    box-shadow:20px, rgb(236, 214, 9);
    text-align: center;

}
.boutonPodium{
    position: absolute;
    background-image: url("../image/podium3new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 900px;
    top: 500px;
    left: 100px;

}

.titleWinners{
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    top: 5px;
    left: 500px;
    font-family: "PotterFont";
    color: rgb(252, 222, 53);
    box-shadow: black;

}
.fullScore {
    display: flex;
  position: fixed;
  top: 75vh;
  }
  
  /*.score {
    display: flex;
    position: fixed;
    top: 90vh;
    z-index: -1;
  }
  
  .scorePerso {
    margin-right: 50px;
    display: flex;
    float: right;
    z-index: 10;
    color: black;
    border-radius: 45px;
    padding: 10px;
  }*/
  .skore {
    margin-left: 15%;
    display: flex;
    color: white;
    font-size: 50px;
  }
    .one{
        position: relative;
        font-size: 60px;
        font-weight: bold;
        color: #FBCC5D;
        top: 5vw;  
        width: 40vh;
        margin-left: -2%;
        text-shadow: 5px -3px black;
        font-family: "PotterFont";
    }

    .two{
        position: relative;
        font-size: 60px;
        font-weight: bold;
        color: #D1D1D1;
        top: 5vw;
        width: 40vh;
        text-shadow: 5px -3px black;
        font-family: "PotterFont";
    }

    .three{
        position: relative;
        font-size: 60px;
        font-weight: bold;
        color: #FB8249;
        top: 5vw;
        width: 40vh;
        margin-left: -2%;
        text-shadow: 5px -3px black;
        font-family: "PotterFont";
    }

.firstAward {
    position: absolute;
    /*background-image: url("../image/Slytherin.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    top: 230px;
    left: 460px;

}

.thirdAward {
    position: absolute;
    /*background-image: url("../image/Gryffindor.png");*/
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 200px;
    top: 330px;
    left: 750px;
    background-size: cover;


}

.secondAward {

    position: absolute;
    /*background-image: url("../image/Ravenclaw.png");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    top: 280px;
    left: 140px;


}

.logoHufflepuffHouse {

    position: absolute;
    background-image: url("../image/Hufflepuff.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 200px;
    top: 230px;
    left: 140px;


}
